<!doctype html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp">
<!--    <link rel="icon" href="../../favicon.ico">-->

    <title>微信后台管理</title>
		<!--build:css ..style/vender.css-->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/grid.css">
		<!--endbuild-->
		
    <!-- 使用respond.js和html5shiv.js 让ie8支持 HTML5 元素 和 media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
  <body>
		<div> 
			<form>
				<input type="text" placeholder="用户名" required autofocus>
				<input type="password" placeholder="密码" required>
			</form>
			<button>登录</button>
		</div>
	</body>
		<!--build:js ../scripts/main.js-->
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<!--endbuild -->
</html>